<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="site-title">{{ site.logo_title }}</a>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      <div class="categories-nav">
        <span>Categories: </span>
        <a href="{{ site.url }}/abstract">#abstract</a>
        <a href="{{ site.url }}/devops">#devops</a>
        <a href="{{ site.url }}/research">#research</a>
        <a href="{{ site.url }}/resources">#resources</a>
        <a href="{{ site.url }}/startup">#startup</a>
        <a href="{{ site.url }}/tips">#tips</a>
        <a href="{{ site.url }}/tools">#tools</a>
        <a href="{{ site.url }}/tutorials">#tutorials</a>
        <a href="{{ site.url }}/web3">#web3</a>
        <a href="{{ site.url }}/webservice">#webservice</a>
      </div>
    </div>
  </div>
</header>