<div class="py2 post-footer">
  <img src="{{ site.baseurl }}/images/me.jpg" alt="Bogdan Alexandru Militaru" class="avatar" />
  <p>I do this with love for free education and resources. If you consider this article helpful you can support this blog.</p>
  <a href="https://www.buymeacoffee.com/boobo94" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/arial-green.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" ></a>
  <p>For collaboration visit my company's website <a href="https://cmevo.com" target="_blank">Cmevo Digital</a></p>
</div>
