.site-header {
    padding-top: $space-1;
    padding-bottom: $space-2;
}

.site-header a {
    color: #333;
    font-size: $h3;
    font-weight: 300;
    background-image: none;
}

.site-header .site-title {
    font-size: $h2;
}

.site-nav {
    margin-top: $space-2;
}

.site-header nav a {
    color: #666;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
    color: #444;
    opacity: 1;
    border-bottom: 2px solid #444;
}

.site-nav a + a {
    margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
    opacity: 0.88;
}

.site-header {
    text-align: center;
}

.site-header .site-nav {
    text-align: center;
}

#search-label {
  color: #666;
  margin-right: 1em;
}

#search-input {
    border: none;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    width: 0px;
    height: auto;
}

#search-input:focus,
#search-input:hover {
    outline: none;
    padding-left: 10px;
    width: 200px;
    -webkit-transition: width .1s;
    transition: width .1s;
}

@media screen and (max-width: $viewport-small) {
    #search-input:focus,
    #search-input:hover { 
        width: 80px;
    }
}