---
layout: default
---

<div class="home">
  <div class="posts" id="search-container">
    <h1>Category {{page.category}}</h1>
    {% for post in site.categories[page.category] %}
    <div class="post py3">
      <p class="post-meta">{{ post.date | date: site.date_format }}</p>
      <span class="post-meta small">
        {% for category in post.categories %}
        <a href="{{ site.url }}/{{ category }}" class="post-link">#{{ category }}</a>
        {% endfor %}
      </span>
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <h3 class="h1 post-title">{{ post.title }}</h3>
      </a>
      <span class="post-summary">
        {% if post.cover %}
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.cover }}" alt="{{ post.title }}"/>
        </a>
        {% endif %}

        {% if post.summary %}
        {{ post.summary }}
        {% else %}
        {{ post.excerpt }}
        {% endif %}
      </span>
    </div>
    {% endfor %}
  </div>
</div>