---
layout: default
---

<div class="home">
  <div class="posts" id="search-container">
    <h1>{{ page.title }}</h1>

    {% assign posts_in_tag = site.posts | where_exp: 'post', 'post.tags contains
    page.tag' %} {% for post in posts_in_tag %}
    <div class="post py3">
      <p class="post-meta">{{ post.date | date: site.date_format }}</p>
      <span class="post-meta small">
        {% if post.categories and post.categories.size > 0 %} Categories: {% for
        category in post.categories %}
        <a href="{{ site.url }}/{{ category }}" class="post-link"
          >\{{ category }}</a
        >
        {% endfor %} {% endif %} {% if post.tags and post.tags.size > 0 %} Tags:
        {% for tag in post.tags %}
        <a href="{{ site.url }}/tags/{{ tag | slugify }}/" class="post-link"
          >#{{ tag }}</a
        >
        {% endfor %} {% endif %}
      </span>

      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <h3 class="h1 post-title">{{ post.title }}</h3>
      </a>

      <div class="post-content-summary">
        {% if post.cover %}
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.cover }}" alt="{{ post.title }}" />
        </a>
        {% endif %}
        <span class="post-summary">
          {% if post.summary %} {{ post.summary }} {% else %} {{ post.excerpt }}
          {% endif %}
        </span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
